body {
    background-color: rgb(100, 100, 145);
}
div {
    background-color: rgb(255, 255, 255);
}
span {
    margin: 0;
    padding: 0;
    font-size: 100px;
}

.s{
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.b{
    border: 2px solid black;
}